
           <td>
             <%= depression_tag( @depression.scores ) %>
           </td>

           <style>
             span.depression { width: 15px;
                 height: 15px;
                 display: block;
             }
             span.depression.yellow{
                 background: yellow;
             }
             span.depression.red{
                 background: red;
             }
             span.depression.white{
                 background: white;
             }
           </style>